@import '_colors.scss';

*, *::before, *::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Satoshi';
    src: url('../font/Satoshi-Variable.ttf');
}

body {
    color: $second-color;
    font-family: $main-font-family;
    font-weight: 400;
    min-height: 100vh;
    display: flex;
    justify-content: center;

}

.wrapper {
    min-width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 40px 0px;
    padding: 0px 24px;
    position: relative;
    border-radius: 4px;

    & > * {
        padding: 24px 0px;
    }
    
   
    .current-weather-card {
        width: 100%;
        display: flex;
        flex: 1;
        align-items: center;
        flex-direction: column;
        overflow: hidden;

        & > *:not(.location-bg-img) {
            padding: 16px 0px;
        }

        .location-bg-img {
            filter: (brightness(50%));
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: auto;
            min-height: 100%;
            z-index: -1;
            overflow: hidden;
            border-radius: 4px;
            object-fit: cover;
        }

        .header {
            display: flex;
            width: 100%;

            .menu {
                align-items: flex-start;
                min-height: 100%;
                display: flex;
                padding-left: 8px;
                cursor: pointer;
                background: none;
                border: none;
                font-size: 1.2rem;
                color: inherit;

            }

            .location-info {
                display: flex;
                flex-direction: column;
                flex: 1;
            }

            .current-city {
                display: flex;
                align-items: center;
            }

            .location-icon {
                padding-right: 8px;
                font-size: .8rem;
            }

            .current-date {
                font-size: .8rem;
                padding: 4px 0px;
            }

        }

        .weather-info {
            display: flex;
            width: 100%;


            .weather {
                display: flex;
                flex-direction: column;
                flex: 1;
 
            }

            .weather-icon {
                font-size: 1.5rem;
        
            }


            .extra-temp-info {
                display: flex;
                flex: 1;
         
                & > div {
                    display: flex;
                    align-items: center;
                }
                .wind p {
                    padding-right: 16px;
                }

                .wind p , .humidity p {
                    padding-left: 8px;
                    font-size: .8rem;
                }
            }


            .weather-temp {
                font-size: 5rem;
            }

        }

    }

}

form {
    padding: 16px 0px;
    min-width: 100%;

    .input-city {
        display: flex;
        background-color: white;
        border-radius: 4px;
        padding: 4px;

        input {
            border: none;
            font-family: inherit;
            padding-left: 8px;
            flex: 1;
        }

        .search-btn {
            padding: 4px;
            cursor: pointer;
            border: none;
            background: none;
            color: $main-color;
        }
        
    }
}

.hour-forecast-display {
    display: flex;
    width: 100%;
    justify-content: space-around;
    padding: 24px 0px;
    border-top: 1px solid $second-color;
    border-bottom: 1px solid $second-color;

    .hour-forecast-card {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

}

.daily-forecast-display {
    display: flex;
    flex-direction: column;
    width: 100%;

    .day-forecast-card {
        display: flex;
        width: 100%;
        align-items: center;
    }

    .day-forecast-card .day {
        flex: 1;
    }

    .max-temp, .min-temp {
        padding: 0px 16px;
    }

}

@media (max-width: 480px) {

    .wrapper {
        min-width: 344px;
        padding: 0px 24px;
    }
}

